body {
	font-family: sans-serif; background: #eee;
}


#liftLinksContainer {

	background-color: #000;
	margin: auto;
	padding: 25px;
	width: 25%;
}

.mainLinks {
	border-radius: 15px;
	border: 5px solid #f15025;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	background-color: #e6e8e6;
	display:inline-block;
	color: #000000;
	margin-bottom: 20px;
	padding: 10px 0px;

}

.mainLinks:hover {
	font-style:italic;
}

.secondaryLinks {
	margin: auto;
	font-style:normal;
	font-weight: normal;
	position: relative;
	padding: 7px;
	box-sizing: border-box;
	width: 100%;
	display: none;
}

.secondaryLinks:hover {
	background-color: #ced0ce;
}
/*
.page {
	margin: 2em auto;
	width: 35em;
	border: 5px solid #ccc;
	padding: 0.8em;
	background: white;
}
*/