html,body,.page {
	font-family: sans-serif; background: #eee;
	margin: 0;
	padding: 0;
	height: 100vh;
	/*min-height: 100vh !important;*/
	width: 100%;

}

.metanav{
	float:right;
}


#liftLinksContainer {
	background-color: #36151e;
	/*padding: 25px;*/
	width: 20%;
	overflow: hidden;
	min-height: 100%;
}

.mainLinks {
	font-size: 20px;
	border: 10px solid #593f62;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	background-color: #7b6d8d;
	display:inline-block;
	color: #a5c4d4;
	margin-bottom: -10px;
	padding: 10px 0px;

}

.mainLinks:hover {
	font-style:italic;
	text-decoration: underline;
}

.expansionContainer {
	margin-left: -5px;
	margin: auto;
	font-style:normal;
	font-weight: normal;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	display: none;
}

.secondaryLinks {
	font-size:15px;
	font-style:normal;
	font-weight: normal;
	position: relative;
	padding: 7px;
	box-sizing: border-box;
	width: 100%;
}

.secondaryLinks:hover {
	background-color: #8499b1;
}
/*
.page {
	margin: 2em auto;
	width: 35em;
	border: 5px solid #ccc;
	padding: 0.8em;
	background: white;
}
*/