<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script
	src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous">
</script>
<script src="{{url_for('static', filename='scripts.js')}}"></script>
			  
<title>athletes of the chiller society</title>

<h3>A.C.S.</h3>
<div class=page>
	<div class=metanav>
		{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a>
		{% else %}
		<a href="{{ url_for('logout') }}">log out</a>
		{% endif %}
	</div>
	
	<div id= "liftLinksContainer">
	{% for item in lifts%}
		
		<a id = "{{ item + 'Link' }}" class = "mainLinks" href = "javascript:void(0);" 
			onmouseenter=	"	
								toggle('{{ item }}');
								//turn json obj into string
								var data = JSON.stringify({'name': '{{ item }}' });
								var res = jQuery.post('/action_page', data, function(data) { return true; });
								console.log(res);
							"
			
			onmouseleave=	"toggle('{{ item }}');"
		>
			{{ item }}
		</a>
		
		<script>
			document.getElementById('liftLinksContainer')
				.appendChild(document.getElementById('{{ item + 'Link' }}'));		
			document.getElementById('{{ item + 'Link' }}')
				.appendChild(createExpansion('{{ item }}'));		
		</script>
	{% endfor %}
	</div>
	
	{% block body %}{% endblock %}
</div>