<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script
	src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous">
</script>
<script src="{{url_for('static', filename='scripts.js')}}"></script>

<title> ACS </title>
<div class=page>
	<div id= "liftLinksContainer">
	
		
			

		<span class = "tab">view tutorials:</span>	
		
		{% for item in lifts%}
		
			<a id = "{{ item + 'Link' }}" class = "exerciseLinks" href = "javascript:void(0);" 
				onmouseenter = "getVariationsandToggleOn('{{ item }}');"			
				onmouseleave = "toggleOff('{{ item }}');">
				
				{{ item }}
			</a>
			<script>
				allLinks.push('{{ item }}');
				document.getElementById('liftLinksContainer')
					.appendChild(document.getElementById('{{ item + 'Link' }}'));					
			</script>

		{% endfor %}
		
		
		{% if not session.logged_in %}	
		<a class = "userMenu" href ="{{ url_for('login') }}">Log In</a>
		
		{% else %}
		<a class = "userMenu">My Exercise Log</a>
		<a class = "userMenu" href="{{ url_for('logout') }}">Log Out</a>
		{% endif %}

	</div>
		
	{% block body %}{% endblock %}
	
	<div id = "content">
		{{ rv }}
	</div>
</div>