<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script
	src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous">
</script>
<script src="{{url_for('static', filename='scripts.js')}}"></script>
			  
<title>athletes of the chiller society</title>

<h3>A.C.S.</h3>
<div class=page>
	<div class=metanav>
		{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a>
		{% else %}
		<a href="{{ url_for('logout') }}">log out</a>
		{% endif %}
	</div>
	
	<div id= "liftLinksContainer">
	{% for item in lifts%}
		
		<a id = "{{ item + 'Link' }}" class = "mainLinks" href = "javascript:void(0);" 
			onmouseenter=	"	
								//turn json obj into string
								/*var data = JSON.stringify({'name': '{{ item }}' });
								jQuery.post('/action_page', data, function(data) { return true; })
									.done(function(data, textStatus, jqXHR) {
										handleData(data);
									});*/
								//toggleOn('{{ item }}');
								getVariationsandToggleOn('{{ item }}');
							"
			
			onmouseleave=	"toggleOff('{{ item }}');">
			
			<!--<script> 
			document.getElementById('{{ item }} + Link').mouseenter(function(){
				console.log("secondaryLinkText is: " + secondaryLinkText);
				
				if (secondaryLinkText != "") {
					document.getElementById(item + 'Link')
						.appendChild(createExpansion(item));
				}
				
				var mainButton = document.getElementById(item + 'Link');
				var clicked = document.getElementById(item+'Expansion');
				var content = document.createTextNode(secondaryLinkText);
				
				mainButton.style.fontWeight = "bold";
				clicked.innerHTML = "";
				clicked.appendChild(content);
				clicked.style.display = "inline-block";
				
				lastPressed = item;
			})
			.mouseleave(function() {
				console.log("doesns't do shit");
				var mainButton = document.getElementById(item + 'Link');
				var clicked = document.getElementById(item+'Expansion');

				mainButton.style.fontWeight = "normal";
				clicked.style.display = "none";
				clicked.innerHTML = "";
			});	
			</script>-->
			{{ item }}
		</a>
		
		<script>
			document.getElementById('liftLinksContainer')
				.appendChild(document.getElementById('{{ item + 'Link' }}'));	
			createExpansion('{{ item }}')					
		</script>
	{% endfor %}
	</div>
	
	{% block body %}{% endblock %}
</div>